.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 640px;
    border: 1px solid gray;
    justify-content: space-between;
}
.button {
    width: 130px;
    height: 80px;
    margin: 15px;
    font-size: 32px;
}
.controlbutton{
    display: flex;
}